body {
   margin: 0 auto;
}

p {
   margin: 0;
}

.header-div {
   margin: 0 auto;
}

#getNewsButton {
   float: left;
}

.divider {
   margin-top: 5px !important;
   margin-bottom: 5px !important;
   background: black;
   height: 1px;
   width: 100%;
   margin: 0 auto;
}

.article-div {
   border: 0;
   padding-top: 15px;
   animation: slideUp 0.5s;
   -webkit-animation: slideUp 0.5s;
}

@keyframes slideUp {
   0% {bottom: -400px; opacity: 0;}
   100% {bottom: 0px; opacity: 1;}
}

@-webkit-keyframes slideIn {
   0% {bottom: -400px; opacity: 0;}
   100% {bottom: 0px; opacity: 1;}
}
